<br>
<p style="text-align: left;"><img src='https://s3.amazonaws.com/weclouddata/images/logos/sunlife_logo.png' width='35%'></p>
<p style="text-align:left;"><font size='15'><b> Lab - Working with Relational Databases</b></font> <br><font color='#559E54' size=6>Instructor Copy</font></p>
<h2 align='left' > Sunlife Data Science Training </h2>

<h4 align='left'>  Prepared by: <img src='https://s3.amazonaws.com/weclouddata/images/logos/wcd_logo.png' width='15%'>

---

### Package Dependencies

* from command line

    `pip install sqlalchemy`      
    `pip install pymysql`  
    

* from jupyter

    `!pip install sqlalchemy  `  
    `!pip install pymysql`


### MySQL Environment
> - Please follow the Windows/Mac Docker tutorial to pull the mysql image and run the container. Make sure MySQL is running properly before doing this lab
> - the **`superstore`** database required for this lab needs to be set up beforehand. Refer to the docker 101 lab

### Docker IP
> get the ip address by running `docker-machine ip default` in docker

# <font color='#347B98'> 1. Using Python and SQL Alchemy to Access MySQL DB

In [16]:
!pip install sqlalchemy --user
!pip install pymysql --user
!pip install psycopg2 --user

Requirement already satisfied: sqlalchemy in /folders/myfolders/.local/lib/python3.5/site-packages (1.3.3)
Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 18.4MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [17]:
import pandas as pd
import numpy as np
from timeit import default_timer as timer
from sqlalchemy import create_engine

In [19]:
DB_TYPE = 'mysql'
DB_DRIVER = 'pymysql'
DB_USER = 'sunlife'
DB_PASS = 'Noisybutter764'
DB_HOST = 'sunlife-mysql.c0h2bhc51r9d.us-east-1.rds.amazonaws.com'   # this ip address is from docker
DB_PORT = '3306'
DB_NAME = 'sunlife'
POOL_SIZE = 50
SQLALCHEMY_DATABASE_URI = '{0}+{1}://{2}:{3}@{4}:{5}/{6}'.format(DB_TYPE, 
                                                                 DB_DRIVER, 
                                                                 DB_USER,
                                                                 DB_PASS, 
                                                                 DB_HOST, 
                                                                 DB_PORT, 
                                                                 DB_NAME)
    

print(SQLALCHEMY_DATABASE_URI)

mysql+pymysql://sunlife:Noisybutter764@sunlife-mysql.c0h2bhc51r9d.us-east-1.rds.amazonaws.com:3306/sunlife

In [20]:
engine = create_engine(SQLALCHEMY_DATABASE_URI, pool_size=POOL_SIZE, max_overflow=0)

print(engine)

Engine(mysql+pymysql://sunlife:***@sunlife-mysql.c0h2bhc51r9d.us-east-1.rds.amazonaws.com:3306/sunlife)

### Show tables

In [27]:
engine.execute("""show tables;""").fetchall()

[('customer',), ('orders',), ('product',), ('returns',)]

### Describe a table

In [33]:
engine.execute("""describe returns;""").fetchall()

[('OrderID', 'int(11)', 'YES', '', None, ''),
 ('Status', 'varchar(20)', 'YES', '', None, '')]

In [34]:
engine.execute("""describe product;""").fetchall()

[('ProductID', 'int(11)', 'YES', '', None, ''),
 ('ProductName', 'varchar(200)', 'YES', '', None, ''),
 ('ProductCategory', 'varchar(20)', 'YES', '', None, ''),
 ('ProductSubCategory', 'varchar(50)', 'YES', '', None, ''),
 ('ProductContainer', 'varchar(20)', 'YES', '', None, ''),
 ('ProductBaseMargin', 'decimal(4,2)', 'YES', '', None, '')]

### Fetch one row

In [35]:
products = engine.execute("""select * from product;""")

In [36]:
products.fetchone()

(657768, '"""While you Were Out"" Message Book, One Form per Page"', 'Office Supplies', 'Paper', 'Wrap Bag', Decimal('0.35'))

In [37]:
products.fetchone()

(293693, '*Staples* Highlighting Markers', 'Office Supplies', 'Pens & Art Supplies', 'Wrap Bag', Decimal('0.52'))

### Display a few rows

In [38]:
engine.execute("""select * from orders limit 5;""").fetchall()

[(8710, 657768, 40732966, datetime.date(2009, 1, 4), 'Critical', 42, Decimal('151.35000'), Decimal('0.07'), 'Express Air', Decimal('8.33'), Decimal('3.71'), Decimal('1.93')),
 (5251, 497741, 40732966, datetime.date(2011, 4, 11), 'Medium', 38, Decimal('3821.03900'), Decimal('0.05'), 'Express Air', Decimal('1057.89'), Decimal('115.99'), Decimal('5.99')),
 (17024, 778385, 40732966, datetime.date(2009, 10, 13), 'Medium', 31, Decimal('1401.75000'), Decimal('0.02'), 'Regular Air', Decimal('426.44'), Decimal('42.98'), Decimal('4.62')),
 (16326, 657768, 68464052, datetime.date(2010, 5, 10), 'High', 39, Decimal('147.46000'), Decimal('0.06'), 'Regular Air', Decimal('14.13'), Decimal('3.71'), Decimal('1.93')),
 (15808, 518917, 68464052, datetime.date(2010, 12, 14), 'Critical', 3, Decimal('58.14000'), Decimal('0.01'), 'Regular Air', Decimal('-96.25'), Decimal('20.99'), Decimal('4.81'))]

## <font color='#559E54'> Lab Question: From the orders table, calculate total sales by day/year </font>

1. Describe the orders table
2. Show 10 rows in the orders table
3. Fetch all records from orders table by using `fetchall`, then calculate total sales by year
4. Find the most popular product by number of orders

#### 1. Describe the orders table

In [39]:
##################################
## Your Code Below
##################################

engine.execute("""describe orders;""").fetchall()

[('OrderID', 'int(11)', 'YES', '', None, ''),
 ('ProductID', 'int(11)', 'YES', '', None, ''),
 ('CustomerID', 'int(11)', 'YES', '', None, ''),
 ('OrderDate', 'date', 'YES', '', None, ''),
 ('OrderPriority', 'varchar(20)', 'YES', '', None, ''),
 ('OrderQuantity', 'int(11)', 'YES', '', None, ''),
 ('Sales', 'decimal(15,5)', 'YES', '', None, ''),
 ('Discount', 'decimal(3,2)', 'YES', '', None, ''),
 ('ShipMode', 'varchar(20)', 'YES', '', None, ''),
 ('Profit', 'decimal(15,2)', 'YES', '', None, ''),
 ('UnitPrice', 'decimal(15,2)', 'YES', '', None, ''),
 ('ShippingCost', 'decimal(15,2)', 'YES', '', None, '')]

#### 2. Show 10 rows in the orders table

In [40]:
##################################
## Your Code Below
##################################

orders = engine.execute("""select * from orders;""")

nrows = 0
while nrows < 5:
    row = orders.fetchone()
    print(row['OrderID'], row['Sales'])
    nrows += 1

8710 151.35000
5251 3821.03900
17024 1401.75000
16326 147.46000
15808 58.14000

#### 3. Fetch all records from orders table by using fetchall, then calculate total sales by year

In [41]:
1##################################
## Your Code Below
##################################

import datetime

orders = engine.execute("""select * from orders;""").fetchall()

sales = [(row['OrderDate'].year, float(row['Sales'])) for row in orders]


sales_by_year = {}

{ sales_by_year.update({sale[0]: sales_by_year[sale[0]] + sale[1]}) 
                  if sale[0] in sales_by_year.keys() 
                  else sales_by_year.update({sale[0]: sale[1]}) 
  for sale in sales}

{None}

In [42]:
sales_by_year

{2009: 3930381.2299999963,
 2010: 3177019.947999991,
 2011: 3107206.2595000034,
 2012: 3356203.1910000066}

In [43]:
from itertools import groupby
import operator

for k, g in groupby(sorted(sales, key=lambda x: x[0]), operator.itemgetter(0)):
    print (k,sum([float(sale[1]) for sale in g]))

2009 3930381.2299999963
2010 3177019.947999991
2011 3107206.2595000034
2012 3356203.1910000066

#### 4. Find the most popular product by number of orders

In [45]:
##################################
## Your Code Below
##################################

import datetime
from collections import Counter

orders = engine.execute("""select * from orders;""").fetchall()

prod_orders = [row['ProductID'] for row in orders]


sorted(Counter(prod_orders).items(), key=lambda x: x[1], reverse=True)[:20]

[(381761, 24),
 (725611, 22),
 (491105, 22),
 (567128, 22),
 (523991, 21),
 (967595, 20),
 (851117, 20),
 (1003701, 19),
 (953470, 19),
 (957636, 19),
 (677142, 19),
 (560855, 19),
 (620362, 18),
 (242307, 18),
 (690859, 18),
 (518917, 18),
 (160678, 18),
 (724277, 18),
 (455222, 17),
 (528974, 17)]