<br>
<p style="text-align: left;"><img src='https://s3.amazonaws.com/weclouddata/images/logos/sunlife_logo.png' width='35%'></p>
<p style="text-align:left;"><font size='15'><b> Lab - Working with Relational Databases</b></font> <br><font color='#FC7307' size=6>Student Copy</font></p>
<h2 align='left' > Sunlife Data Science Training </h2>

<h4 align='left'>  Prepared by: <img src='https://s3.amazonaws.com/weclouddata/images/logos/wcd_logo.png' width='15%'>

---

### Package Dependencies

* from command line

    `pip install sqlalchemy`      
    `pip install pymysql`  
    

* from jupyter

    `!pip install sqlalchemy  `  
    `!pip install pymysql`


### MySQL Environment
> - Please follow the Windows/Mac Docker tutorial to pull the mysql image and run the container. Make sure MySQL is running properly before doing this lab
> - the **`superstore`** database required for this lab needs to be set up beforehand. Refer to the docker 101 lab

### Docker IP
> get the ip address by running `docker-machine ip default` in docker

# <font color='#347B98'> 1. Using Python and SQL Alchemy to Access MySQL DB

In [1]:
import pandas as pd
import numpy as np
from timeit import default_timer as timer
from sqlalchemy import create_engine

In [2]:
DB_TYPE = 'mysql'
DB_DRIVER = 'pymysql'
DB_USER = 'sunlife'
DB_PASS = 'Noisybutter764'
DB_HOST = 'sunlife-mysql.c0h2bhc51r9d.us-east-1.rds.amazonaws.com'   # this ip address is from docker
DB_PORT = '3306'
DB_NAME = 'sunlife'
POOL_SIZE = 50
SQLALCHEMY_DATABASE_URI = '{0}+{1}://{2}:{3}@{4}:{5}/{6}'.format(DB_TYPE, 
                                                                 DB_DRIVER, 
                                                                 DB_USER,
                                                                 DB_PASS, 
                                                                 DB_HOST, 
                                                                 DB_PORT, 
                                                                 DB_NAME)
    

print(SQLALCHEMY_DATABASE_URI)

mysql+pymysql://sunlife:Noisybutter764@sunlife-mysql.c0h2bhc51r9d.us-east-1.rds.amazonaws.com:3306/sunlife

In [3]:
engine = create_engine(SQLALCHEMY_DATABASE_URI, pool_size=POOL_SIZE, max_overflow=0)

print(engine)

Engine(mysql+pymysql://sunlife:***@sunlife-mysql.c0h2bhc51r9d.us-east-1.rds.amazonaws.com:3306/sunlife)

### Show tables

In [4]:
engine.execute("""show tables;""").fetchall()

[('customer',), ('orders',), ('product',), ('returns',)]

### Describe a table

In [58]:
engine.execute("""describe returns;""").fetchall()

[('OrderID', 'int(11)', 'YES', '', None, ''),
 ('Status', 'varchar(20)', 'YES', '', None, '')]

In [59]:
engine.execute("""describe product;""").fetchall()

[('ProductID', 'int(11)', 'NO', 'PRI', None, ''),
 ('ProductName', 'varchar(200)', 'YES', '', None, ''),
 ('ProductCategory', 'varchar(20)', 'YES', '', None, ''),
 ('ProductSubCategory', 'varchar(50)', 'YES', '', None, ''),
 ('ProductContainer', 'varchar(20)', 'YES', '', None, ''),
 ('ProductBaseMargin', 'decimal(4,2)', 'YES', '', None, '')]

### Fetch one row

In [70]:
products = engine.execute("""select * from product;""")

In [71]:
products.fetchone()

(5889, 'White GlueTop Scratch Pads', 'Office Supplies', 'Paper', 'Wrap Bag', Decimal('0.39'))

In [72]:
products.fetchone()

(15497, 'Fellowes 8 Outlet Superior Workstation Surge Protector', 'Office Supplies', 'Appliances', 'Small Box', Decimal('0.56'))

### Display a few rows

In [61]:
engine.execute("""select * from orders limit 5;""").fetchall()

[(8710, 657768, 40732966, datetime.date(2009, 1, 4), 'Critical', 42, Decimal('151.35000'), Decimal('0.07'), 'Express Air', Decimal('8.33'), Decimal('3.71'), Decimal('1.93')),
 (5251, 497741, 40732966, datetime.date(2011, 4, 11), 'Medium', 38, Decimal('3821.03900'), Decimal('0.05'), 'Express Air', Decimal('1057.89'), Decimal('115.99'), Decimal('5.99')),
 (17024, 778385, 40732966, datetime.date(2009, 10, 13), 'Medium', 31, Decimal('1401.75000'), Decimal('0.02'), 'Regular Air', Decimal('426.44'), Decimal('42.98'), Decimal('4.62')),
 (16326, 657768, 68464052, datetime.date(2010, 5, 10), 'High', 39, Decimal('147.46000'), Decimal('0.06'), 'Regular Air', Decimal('14.13'), Decimal('3.71'), Decimal('1.93')),
 (15808, 518917, 68464052, datetime.date(2010, 12, 14), 'Critical', 3, Decimal('58.14000'), Decimal('0.01'), 'Regular Air', Decimal('-96.25'), Decimal('20.99'), Decimal('4.81'))]

## <font color='#559E54'> Lab Question: From the orders table, calculate total sales by day/year </font>

1. Describe the orders table
2. Show 10 rows in the orders table
3. Fetch all records from orders table by using `fetchall`, then calculate total sales by year
4. Find the most popular product by number of orders

#### 1. Describe the orders table

In [5]:
##################################
## Your Code Below
##################################

#### 2. Show 10 rows in the orders table

In [4]:
##################################
## Your Code Below
##################################

#### 3. Fetch all records from orders table by using fetchall, then calculate total sales by year

In [3]:
##################################
## Your Code Below
##################################

#### 4. Find the most popular product by number of orders

In [1]:
##################################
## Your Code Below
##################################